.App {
  text-align:center; 
  margin-left:auto; 
  margin-right:auto; 
    
  justify-content: center;
}

body {
  /* background: url(../public/backgroundImg.jpg);
  background-repeat: repeat-x;
background-size: 100% 100%; */
padding: 0;
margin: 0;
background: linear-gradient(to right, #C737D7, #2BE8E8)
}

/* .center {
  text-align: center
} */
/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #9b62cd;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.searchpicture {
  height: 60px
}
input[type=text],
 input[type=number] {
     font-family: gochi;
     font-size: 1.5em;
     background: none;
     padding: .5em;
     
     border: 2px solid black;
     border-radius: 10px;
     width: 90%;
 }

.search {
  width: 90%;
  padding: 10px;
  margin-left: 5px;
  color: black;
  text-shadow: 0 0 #9b62cd;
}

.two-columns {
    display: flex
}

.col {
  /* display: table-cell; Make elements inside the container behave like table cells */
  display: flex;
  text-align:center; 
  margin-left:auto; 
  margin-right:auto; 
    
  justify-content: center;
}

.left {
  background: #e3e3dc;
  width: 20%;
  float: left;
  font-weight: 200;
  letter-spacing: 1px;
  /* padding: 13px 20px 13px; */
}
.right {
  background: #9b62cd;
  width: 80%;
  float: right;
  font-weight: 200;
  letter-spacing: 1px;
  /* padding: 13px 20px 13px; */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer {
position: relative;
width: 300px;
height: 300px;
padding-bottom: 50px;
display: block;
margin-left: auto;
margin-right: auto;

}

.theCard {
  position : absolute;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  object-fit: cover;
  transform-style: preserve-3d;
  transition: all 2s ease;
}
.theCard:hover {
  transform: rotateY(180deg);
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.frontCard {
position: absolute;
width: 300px;
height: 300px;
object-fit: cover;
backface-visibility: hidden;
background: #ffc728;
color: rgb(0, 0, 0);
}

.backCard {
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
  backface-visibility: hidden;
  background: #fafafa;
  color: #333;
  transform: rotateY(180deg);
  
}

::placeholder{
  color: black;
  font-weight: bold;
}
input::placeholder{
  color: white;
  font-weight: bold;
}

.matt {
  color: black;
}